@import "../../styles/base.scss";
.AddMovieFormContainer {
	width: 100%;
	padding: 20px 15%;

	form {
		display: flex;
		flex-direction: column;

		label {
			font-size: 0.8rem;
			position: relative;
		}

		label[for="addPlanet"]::after {
			position: absolute;
			content: "";
			right: 6px;
			top: 21px;
			display: inline-block;
			width: 23px;
			height: 23px;
			background: url("../../assets/icons/SEARCH.svg") no-repeat;
			background-position: center;
			background-size: contain;
		}

		input[type="text"] {
			font-size: 1rem;
			line-height: 30px;
			border: none;
			border-bottom: 1px solid $border-input-normal;
			width: 100%;

			&::placeholder {
				color: #8f8f8f85;
			}

			&:focus {
				outline: none;
				border-bottom: 1px solid $border-input-focus;
			}

			&.errorInput {
				border: 1px solid #e10000b3;
			}

			&.correctInput {
				box-shadow: 0px 0px 20px 0px #009f01b3;
			}
		}

		.errorMsg {
			font-size: 0.8rem;
			color: red;
		}

		.InputField {
			margin-bottom: 15px;
		}
	}

	button {
		color: #fff;
		background-color: #1ba1be;
		width: 200px;
		height: 45px;
		border: none;
		align-self: flex-end;
		transition: transform 0.5s;
		&:focus {
			outline: none;
		}
		&:disabled {
			opacity: 0.5;
		}
		&:active {
			transform: scale(0.95);
		}
	}

	.hints {
		position: absolute;
		width: 100%;
		padding: 10px;
		z-index: 10;
		display: flex;
		flex-direction: column;
		background: #fff;
		border-width: 0 1px 1px 1px;
		border-style: solid;
		border-color: #0000004f;
		line-height: 20px;
		font-size: 1rem;

		p:hover {
			font-weight: bold;
		}
	}

	.selectedPlanets {
		max-height: 10vh;
		display: flex;
		flex-wrap: wrap;
		overflow: scroll;
		overflow-x: hidden;
		overflow-y: auto;

		@include customScrollBar;

		.planetItem {
			margin: 0 10px;
		}
	}
}