@import '../../styles/base.scss';

.MovieList {
	width: 100%;
	flex: 0 1 50vh;
	overflow: scroll;
	overflow-x: hidden;
	overflow-y: auto;
	display: flex;
	justify-content: center;
	
	&-open {
		margin: 10px 0;
		justify-content: flex-start;
	}

	@include customScrollBar;

	.MovieListContent {
		width: 100%;
		display: flex;
		flex-direction: column;
	}
}
